if SHIELD_GRAVITY36_XIAO_LEFT

config ZMK_KEYBOARD_NAME
    string
    default "Gravity36"

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y

config ZMK_STUDIO
    bool
    default y

config ZMK_STUDIO_TARGET_FEATURES_ALL
    bool
    default y

endif # SHIELD_GRAVITY36_XIAO_LEFT


if SHIELD_GRAVITY36_XIAO_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default n

endif # SHIELD_GRAVITY36_XIAO_RIGHT


if SHIELD_GRAVITY36_XIAO_LEFT || SHIELD_GRAVITY36_XIAO_RIGHT

config ZMK_SPLIT
    bool
    default y

config ZMK_MOUSE
    bool
    default y

config ZMK_POINTING
    bool
    default y

endif # SHIELD_GRAVITY36_XIAO_LEFT || SHIELD_GRAVITY36_XIAO_RIGHT
