#define RGBLED_WIDGET_COLOR_BLACK   0
#define RGBLED_WIDGET_COLOR_RED     1
#define RGBLED_WIDGET_COLOR_GREEN   2
#define RGBLED_WIDGET_COLOR_YELLOW  3
#define RGBLED_WIDGET_COLOR_BLUE    4
#define RGBLED_WIDGET_COLOR_MAGENTA 5
#define RGBLED_WIDGET_COLOR_CYAN    6
#define RGBLED_WIDGET_COLOR_WHITE   7
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                /* 右手側担当分 (18キー) */
                &kp Y &kp U &kp I &kp O &kp P
                &kp H &kp J &kp K &kp L &kp SEMI
                &kp N &kp M &kp COMMA &kp DOT &kp FSLH
                &kp BSPC &kp RET  &kp DEL
            >;
        };
    };
};
