#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define TAPPING_TERM_SHORT 150

/ {
    behaviors {
        exlt: exlt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>; // これで連続入力が可能に
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        exmt: exmt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        bt_clr_safe: bt_clr_safe {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";   // 長押しを最優先する設定
            tapping-term-ms = <3000>;    // 3000ミリ秒押し続けないとホールド判定にならない
            bindings = <&bt>, <&none>;

            // ホールド時：&bt  / タップ時：何もしない (&none)
        };

        td_p_del: td_p_del {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_P_DEL";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp DELETE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_bt_clr_3s {
            timeout-ms = <100>;          // 3つのキーを同時に認識するための猶予時間（少し広めの100ms）
            key-positions = <24 4 22>;   // ★ B (24), T (4), C (22)
            bindings = <&bt_clr_safe BT_CLR 0>; // 3秒長押しで BT_CLR を発動
            // 押し込んでいる間、QやWなどの通常文字が裏で連打されるのを防ぐ設定
            slow-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W             &kp E          &kp R          &kp T               &kp Y                 &kp U  &kp I      &kp O    &td_p_del
&kp A             &kp S             &kp D          &kp F          &kp G               &kp H                 &kp J  &kp K      &kp L    &kp ENTER
&mt LSHFT Z       &kp X             &kp C          &mt LGUI V     &kp B               &kp N                 &kp M  &kp COMMA  &kp DOT  &mt RSHFT SLASH
&exmt LCTRL LGUI  &lt 3 LANG_HANJA  &exlt 1 SPACE  &exlt 2 SPACE  &lt 4 LANG_HANGEUL  &exmt RALT BACKSPACE
            >;
        };

        // レイヤー1: 左SPACE長押し時に有効化（数字キーやファンクションキーなど）

        layer_1 {
            bindings = <
&kp F1            &kp F2            &kp F3            &kp F4        &kp F5      &kp F6            &kp F7      &kp F8      &kp F9      &kp F10
&kp NUMBER_1      &kp N2            &kp NUMBER_3      &kp NUMBER_4  &kp N5      &kp NUMBER_6      &kp N7      &kp N8      &kp N9      &kp N0
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(F11)   &kp LS(N5)  &kp LS(NUMBER_6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)
&none             &none             &none             &none         &none       &none
            >;
        };

        // レイヤー2: 右Space長押し時に有効化（カーソル操作と記号）

        layer_2 {
            bindings = <
&kp ESCAPE      &none     &kp UP    &none      &none  &none      &none      &none     &kp LBKT  &kp RBKT
&kp TAB         &kp LEFT  &kp DOWN  &kp RIGHT  &none  &kp MINUS  &kp EQUAL  &kp SEMI  &kp SQT   &kp BACKSLASH
&kp LEFT_SHIFT  &none     &none     &none      &none  &none      &none      &none     &none     &none
&none           &none     &none     &none      &none  &none
            >;
        };

        // レイヤー3: 無変換を長押し時に有効化（ブートローダー起動やBluetooth操作など）

        layer_3 {
            bindings = <
&bootloader    &none          &none          &none   &none         &none   &none  &none  &none  &studio_unlock
&bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &none   &out OUT_USB  &none   &none  &none  &none  &none
&bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &none   &out OUT_BLE  &none   &none  &none  &none  &none
&trans         &trans         &trans         &trans  &trans        &trans
            >;
        };

        //　レイヤー4:　変換を長押し時に有効化（マウス操作）
        layer_4 {
            bindings = <
&kt ESC  &none           &mmv MOVE_UP    &none            &none   &none   &none           &msc SCRL_UP    &none            &mkp MB5
&kt TAB  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &none   &mkp LCLK       &mkp MCLK       &mkp RCLK        &mkp MB4
&none    &none           &none           &none            &none   &none   &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none
&trans   &trans          &trans          &kt DELETE       &trans  &trans
            >;
        };
    };
};
