#include "../gravity36_xiao/ravity36_xiao.dtsi"

/ {
/* 選択されたkscanを明示 */
    chosen {
        zmk,kscan = &kscan_left;
    };

/* zmk-rgbled-widgetが内蔵LEDを制御するための仮想ハードウェアノード */
    led_widget: led_widget {
        compatible = "zmk,rgbled-widget";
        label = "RGBLED_WIDGET";
    };
};
